<div id="<%= dom_id bite %>">

<img src="<%= bite.image %>">
    

  <div>
    <h2>
      <%= bite.name %>
    </h2>
    <p>
      <%= bite.description %>
    </p>
    <p>
      <strong>Price: $</strong>
      <%= bite.price %>
    </p>

  </div>

</div>
