<div class="headTxt" id="<%= dom_id bite %>">
    <div class="showImg">
    <%= image_tag(bite.image, class:"bite-image") %>
    </div>
  <div>
    <h2><%= bite.name %></h2>
    <p><%= bite.description %></p>
    <p><strong>Price: $</strong><%= bite.price %></p>
  </div>
</div>
