<p style="color: green" class="notice"><%= notice %></p>

<h1 class="headTxt">Bites</h1>
<p class="link">Here you'll find a list of all of our dishes!</p>


<div id="bites" class="showCards">
  <% @bites.each do |bite| %>
    <div class="card" style="width: 20rem;">
      <%= image_tag(bite.image, class:"card-img-top cardImg") %>
      <div class="card-body">
      
        <h5 class="card-title"><%= link_to bite.name, bite%></h5>
        <p class="card-text"><%= bite.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: $<%= bite.price%></li>
      </ul>
    </div>
    <br/>
  <% end %>
</div>
